<ion-content>
  <div id="cover">
    <div id="customer">
      <img src="../../assets/imgs/noun_customer_3201828.png" alt="customer">
      <ion-button id="customer" size="large" type="submit" [routerLink]="['/register-user']" expand="block">CUSTOMER</ion-button>
    </div>
    <div id = "farm-owner">
      <img src="../../assets/imgs/farmer.png" alt="farm">
      <ion-button id="farmer" size="large" type="submit" [routerLink]="['/register-farmer']">FARM OWNER</ion-button>
</div>
  </div>
</ion-content>