ion-header{
    .head-bar{
        background:#41AC3C;
        display: flex;
        ion-button {
            --background:  #41AC3C;
            --background-activated:  #41AC3C;
            --background-hover:  #41AC3C;
            --padding-start: 5px;
            --padding-end: 5px;
            --box-shadow: 0;        
        }
        .cart {
            --padding-start: 2px;
        }
        ion-searchbar{
            --width: 40vw;
        }
    }
}