ion-header{
    .head-bar{
        background: green;
        display: flex;
        ion-button {
            --background: green;
            --background-activated: green;
            --background-hover: green;
            --padding-start: 5px;
            --padding-end: 5px;
            --box-shadow: 0;        
        }
        .cart {
            --padding-start: 2px;
        }
        ion-searchbar{
            --width: 40vw;
        }
    }
}