<app-header></app-header>

<ion-content>
  <div>
    <div id="time"> 
      <p>00:30:00</p>
    </div>
    <div id="product">
      <h3>Product Name</h3>
      <img src="../../assets/imgs/tangerines.jpg">
      <p>Price: $4.99/kg</p>
      <p>Delivery: $1.99/kg</p>
      <p id="description">Product Description</p>
      <p>Purchase amount (Kg)</p>
      <p id="description"></p>
      <div id="fees">
        <div id="fee">
          <p>Delivery fees:</p>
          <p>$0</p>
        </div>
        <div id="fee">
          <p>Subtotal:</p>
          <p>$0</p>
        </div>
        <div id="fee">
          <p>Total Cost:</p>
          <p>$0</p>
        </div>
      </div>
      <ion-button [routerLink]="['/tabs/shopping-cart']">Place an order</ion-button>
    </div>
  </div>
</ion-content>
