#logo {
    padding: 5%;
    max-height: 100px;
    position: relative;
    padding-left: 40%;
}

#logo-base {
    background: #4e924e;
    padding: 0%;
    margin: -4% -4% 10%;
    align-content: center;
    display: flex;
    flex-direction: row;
}
#credential > img {
    width: 15%;
    padding: 2%;
}

#forgot {
    color: black;
    padding: 5% 5% 0% 5%;
}

#signup {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#social {
    display: flex;
    flex-direction: row;
    padding: 10%;
}