#logo {
    padding: 0% 40%;
    max-height: 100px;
    position: relative;
}

#logo-base {
    background: #20AA38;
    margin: -4% -4% 10%;
    align-content: center;
    display: flex;
    flex-direction: column;
    padding-top: 9%;
}

#logo-base > h2 {
    color: white;
    text-align: center;
}

#credential > img {
    width: 15%;
    padding: 2%;
}

#login {
    align-items: center;
    display: flex;
    flex-direction: column;
}

ion-button {
    --background: black;
}

#login > p > a {
    color: #20AA38;
}