<app-header></app-header>

<ion-content>
  <div id="display">

    <div id="item">
      <div id="image">
        <img src="../../assets/imgs/apple.jpg" id="sold-product">
        <img src="../../assets/imgs/soldout.png" id="sold">
      </div>
      <div id="detail">
        <div id="weight">
          <h3>Apple</h3>
          <p>Total amount: 100 kg</p>
        </div>
        <div id="time">
          <p>00:00:00</p>
        </div>
      </div>
      <div id="buy">
        <input type="range" min="1" max="100" id="slider" value="50">
        <ion-button>Buy</ion-button>
      </div>
    </div>

    <div id="item">
      <div id="image">
        <img src="../../assets/imgs/pear.jpg">
      </div>
      <div id="detail">
        <div id="weight">
          <h3>Pear</h3>
          <p>Total amount: 100 kg</p>
        </div>
        <div id="time">
          <p>00:00:00</p>
        </div>
      </div>
      <div id="buy">
        <input type="range" min="1" max="100" id="slider" value="50">
        <ion-button>Buy</ion-button>
      </div>
    </div>

    <div id="item">
      <div id="image">
        <img src="../../assets/imgs/peaches.jpg">
      </div>
      <div id="detail">
        <div id="weight">
          <h3>Peach</h3>
          <p>Total amount: 100 kg</p>
        </div>
        <div id="time">
          <p>00:00:00</p>
        </div>
      </div>
      <div id="buy">
        <input type="range" min="1" max="100" id="slider" value="50">
        <ion-button>Buy</ion-button>
      </div>
    </div>

    <div id="item">
      <div id="image">
        <img src="../../assets/imgs/strawberries.jpg">
      </div>
      <div id="detail">
        <div id="weight">
          <h3>Strawberry</h3>
          <p>Total amount: 100 kg</p>
        </div>
        <div id="time">
          <p>00:00:00</p>
        </div>
      </div>
      <div id="buy">
        <input type="range" min="1" max="100" id="slider" value="50">
        <ion-button>Buy</ion-button>
      </div>
    </div>

    <div id="item">
      <div id="image">
        <img src="../../assets/imgs/tangerines.jpg">
      </div>
      <div id="detail">
        <div id="weight">
          <h3>Oranges</h3>
          <p>Total amount: 100 kg</p>
        </div>
        <div id="time">
          <p>00:00:00</p>
        </div>
      </div>
      <div id="buy">
        <input type="range" min="1" max="100" id="slider" value="50">
        <ion-button>Buy</ion-button>
      </div>
    </div>

    <div id="item">
      <div id="image">
        <img src="../../assets/imgs/tomatoes.jpg">
      </div>
      <div id="detail">
        <div id="weight">
          <h3>Tomato</h3>
          <p>Total amount: 100 kg</p>
        </div>
        <div id="time">
          <p>00:00:00</p>
        </div>
      </div>
      <div id="buy">
        <input type="range" min="1" max="100" id="slider" value="50">
        <ion-button>Buy</ion-button>
      </div>
    </div>

    <div id="item">
      <div id="image">
        <img src="../../assets/imgs/potatoes.jpg">
      </div>
      <div id="detail">
        <div id="weight">
          <h3>Potato</h3>
          <p>Total amount: 100 kg</p>
        </div>
        <div id="time">
          <p>00:00:00</p>
        </div>
      </div>
      <div id="buy">
        <input type="range" min="1" max="100" id="slider" value="50">
        <ion-button>Buy</ion-button>
      </div>
    </div>

    <div id="item">
      <div id="image">
        <img src="../../assets/imgs/blueberry.jpg">
      </div>
      <div id="detail">
        <div id="weight">
          <h3>Blueberry</h3>
          <p>Total amount: 100 kg</p>
        </div>
        <div id="time">
          <p>00:00:00</p>
        </div>
      </div>
      <div id="buy">
        <input type="range" min="1" max="100" id="slider" value="50">
        <ion-button>Buy</ion-button>
      </div>
    </div>

    <div id="item">
      <div id="image">
        <img src="../../assets/imgs/lemon.jpg">
      </div>
      <div id="detail">
        <div id="weight">
          <h3>Lemon</h3>
          <p>Total amount: 100 kg</p>
        </div>
        <div id="time">
          <p>00:00:00</p>
        </div>
      </div>
      <div id="buy">
        <input type="range" min="1" max="100" id="slider" value="50">
        <ion-button>Buy</ion-button>
      </div>
    </div>
   
    <div id="item">
      <div id="image">
        <img src="../../assets/imgs/carrots.jpg">
      </div>
      <div id="detail">
        <div id="weight">
          <h3>Carrot</h3>
          <p>Total amount: 100 kg</p>
        </div>
        <div id="time">
          <p>00:00:00</p>
        </div>
      </div>
      <div id="buy">
        <input type="range" min="1" max="100" id="slider" value="50">
        <ion-button>Buy</ion-button>
      </div>
    </div>
  </div>
</ion-content>
