<app-header>
</app-header>

<ion-content>
  <div id="order">
    <div id="seller">
      <h3>Seller: Amy's Farm Product</h3>
    </div>
    <div id="details">
      <div id="description">
        <img src="../../assets/imgs/tomatoes.jpg">
        <div id="description-detail">
          <p>Product name & description</p>
          <p id="amount">Amount: 5kg</p>
        </div>
      </div>
      <div id="delivery">
        <p>Est. delivery: 21 Oct <br> - 3 Nov</p>
        <div id="price">
          <p>Delivery: $000</p>
          <p>Total: $000</p>
        </div>
      </div>
      <div id="address">
        <p>DELIVERY ADDRESS</p>
        <p>Name</p>
        <p>xxxx</p>
        <p>xxxx</p>
        <p>xxxx</p>
        <p>Post code</p>
        <p>Australia</p>
        <p>Mobile</p>
      </div>
      <div id="button">
        <ion-button id="confirm">Confirm and Pay</ion-button>
        <ion-button id="cancel">Cancel</ion-button>
      </div>
    </div>
  </div>
</ion-content>
