#top-bar {
    background:#20AA38;
}

#top-bar > img {
    height: 40px;
    margin: 10px;
}

#addition > p > a {
    color: #1049AD;
    text-decoration: none;
    margin-left: 10px;
}

#card {
    background: #e4e4e4;
    margin: 6px;
    border: solid #e4e4e4 1px;
    border-radius: 10px;
}

#card-details {
    margin-left: 5px;
}
