#top-bar {
    background:#66cc33;
}

#top-bar > img {
    height: 40px;
    margin: 10px;
}

#addition > p > a {
    color: blue;
    text-decoration: none;
    margin-left: 10px;
}

#card {
    background: #e4e4e4;
    margin: 6px;
    border: solid black 1px;
    border-radius: 14px;
}

#card-details {
    margin-left: 5px;
}
