<ion-content>
  <div id="top-bar">
    <img src="../../assets/imgs/logo - on cover .png">
  </div>
  <div id="addition">
    <p><a href="#"> Add a credit or debit card</a></p>
  </div>
  <div id="card-details">
    <img src="../../assets/imgs/Screenshot 2020-10-10 153321.png">
    <form id="name-details">
      <input type="text" id="name" name="Name" value="Name on Card">
      <input type="text" id="name" name="cardNumber" value="Card Number">
    </form> 
    <form id="security-details">
      <input type="text" id="name" name="expiry" value="MM/YY">
      <input type="text" id="name" name="cvv" value="CVV">
    </form> 
  </div>
  <div id="cvv-info">
    <h3>CVV</h3>
    <div id="cvv-details">
      <p>A three-digit code on your card. You can find this on the back of your card.</p>
      <img src="../../assets/imgs/Screenshot 2020-10-10 153321.png">
    </div>
    <ion-button id="ok">OK</ion-button>
  </div>
</ion-content>