#credential {
    background: #4e924e;
    color: white;
    display: flex;
    flex-direction: column;
}

#cred {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 0%;
}

img {
    height: 60%;
    margin-top: 7%;
}

#info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu {
    background: #4e924e;
    color: white;
    display: flex;
    justify-content: center;
    
}

#my-info, #wish-list, #history {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#my-info, #wish-list, #history >  p {
    text-align: center;
}


#orders {
    background: #dbdbdb;
    border-radius: 25px;
    margin: 5%;
}

#order-head {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#order-head > ion-col > h4 {
    text-align: left;
}

#order-head > ion-col > p {
    text-align: end;
}

#order-status, #after-sales {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

#settings {
    background: #dbdbdb;
    border-radius: 25px;
    margin: 5%;
}

#settings-heading {
    justify-content: left;
}

#options {
    display: flex;
    flex-direction: column;
}

#payment, #switch, #delivery, #shopping {
    display: flex;
    flex-direction: row;
}

#arrow {
    text-align: end;
}

#help {
    background: #dbdbdb;
    border-radius: 25px;
    margin: 5%;
    display: flex;
    flex-direction: column;
}

#help > h3 {
    justify-content: left;
}

#call, #chat {
    display: flex;
    flex-direction: column;
    align-items: center;
}