:root {
    --ion-color-primary: #528053;
    --ion-color-primary-rgb: 82,128,83;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #487149;
    --ion-color-primary-tint: #638d64;
}  