<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div id= "logo-base">
          <img id="logo" src="../../assets/imgs/logo - on cover .png">
          <h2>Create an Account</h2>
        </div>
        <div>
          <ion-item id="credential">
            <img src="../../assets/imgs/username.png">
            <ion-input name="email" type="email" placeholder="First Name + Last Name"></ion-input>
          </ion-item>
          <ion-item id="credential">
            <img src="../../assets/imgs/email.png">
            <ion-input name="email" type="email" placeholder="Email"></ion-input>
          </ion-item>
          <ion-item id="credential">
            <img src="../../assets/imgs/mobile.png">
            <ion-input name="email" type="email" placeholder="Mobile"></ion-input>
          </ion-item>
          <ion-item id="credential">
            <img src="../../assets/imgs/password.png">
            <ion-input name="email" type="email" placeholder="Password"></ion-input>
          </ion-item>
          <ion-item id="credential">
            <img src="../../assets/imgs/password.png">
            <ion-input name="email" type="email" placeholder="Confirm Password"></ion-input>
          </ion-item>
        </div>
        <div>
          <ion-button color="" size="large" type="submit" [routerLink]="['/verification']" expand="block">Submit</ion-button>
        </div>
        <div id = "login">
          <p>Already have an account? <a [routerLink]="['/login']">LOGIN</a></p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>