.slide-col {
    padding: 0;
}

.section {
    width: 23vw;
    height: 23vw;
    text-align: center;
    img {
        width: 17vw;
        height: 17vw;
    }
    ion-row {
        div {
            margin: auto;
        }
        font-size: 2.5vw;
        color: #AFAFAF;
        font-weight: bold;
    }
    margin-bottom: 4vh;
}

.best-sellers-section {
    background: #99ffbc;
    padding-bottom: 3vh;
    .best-sellers-title{
        h3 {
            margin-left: 6vw;
            font-weight: bold;
            color: #41AC3C;
        }
    }
    .best-sellers-row {
        div {
            margin: auto;
            width: 90vw;
            display: flex;
            justify-content: space-around;
            ion-col {
                img {
                    margin: auto;
                    width: 28vw;
                    height: 20vw;
                    border-radius: 2vw;
                }
                p {
                    width: 28vw;
                    font-size: 3.2vw;
                    color: #41AC3C;
                    font-weight: bold;
                    margin: 0;
                    text-align: center;
                }
                .price{
                    width: 28vw;
                    font-size: 4vw;
                    color: #41AC3C;
                    font-weight: bold;
                    margin: 0;
                    text-align: center;
                }
            }
        }
    }
}

.bargain {
    padding-bottom: 3vh;
    .bargain-title{
        h3 {
            margin-left: 6vw;
            font-weight: bold;
            color: #41AC3C;
        }
    }
    .bargain-row {
        div {
            margin: auto;
            width: 90vw;
            display: flex;
            justify-content: space-around;
            ion-col {
                img {
                    margin: auto;
                    width: 28vw;
                    height: 20vw;
                    border-radius: 2vw;
                }
                p {
                    width: 28vw;
                    font-size: 3.2vw;
                    color: #41AC3C;
                    font-weight: bold;
                    margin: 0;
                    text-align: center;
                }
                .price{
                    font-size: 4vw;
                }
                .discount{
                    font-weight: 1;
                    font-size: 2.5vw;
                    ion-text{
                        text-decoration:line-through;
                    }
                }
            }
        }
    }
}

.farmers-section {
    background: #99ffbc;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.farmer-section-first {
    width: 18vw;
    height: 23vw;
    text-align: center;
    img {
        width: 17vw;
        height: 17vw;
    }
    ion-row {
        div {
            margin: auto;
        }
        font-size: 2.5vw;
        color: #AFAFAF;
        font-weight: bold;
    }
    margin-bottom: 4vh;
}

.farmer-div {
    background: #99ffbc;
    height: 100vw;
    ion-row {
        display: flex;
        justify-content: center;
        ion-button {
            --background:  #41AC3C;
            --background-activated:  #41AC3C;
            --background-hover:  #41AC3C;
            --box-shadow: 0;  
            margin-top: 30vw;
        }
    }
}