#display {
    display: flex;
    flex-wrap: wrap;
}

#buy > ion-button {
    --background: red;
}

#image > img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 180px;
}

#item {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    border-radius: 20px;
    width: 40%;
    margin: 5%;
    box-shadow: 0 4px 8px 0 #0003, 0 6px 20px 0 #00000030; 
    padding-bottom: 2%;
}

#detail {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 3px;
    margin-top: 0px;
    align-items: center;
}

#weight > h3 {
    font-size: 16px;
}

#weight > p {
    font-size: 8px;
}

#time > p {
    color: white;
    background: black;
}

#buy {
    display: flex;
    flex-direction: row;
}

#buy > input {
    width: 100px;
}
