<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Register
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full" class="ion-no-margin ion-no-padding ios list-ios list-lines-full list-ios-lines-full hydrated">
    <form [formGroup]="userForm" (ngSubmit)="registerUser()">
      <ion-item>
        <ion-label position="floating">First Name</ion-label>
        <ion-input formControlName="first_name" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Last Name</ion-label>
        <ion-input formControlName="last_name" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Type</ion-label>
        <ion-select formControlName="type" required>
          <ion-select-option value="farmer">Farmer</ion-select-option>
          <ion-select-option value="customer">Customer</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Mobile</ion-label>
        <ion-input formControlName="mobile" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input formControlName="password" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input type="text" required>
        </ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">Register</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>

